body {
    background-color: #0793e9;
    color: black;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

nav {
    background-color: #0b69dd;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: top;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navButton {
    background-color: #3b85df;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
}

.navButton:hover {
    background-color: #4f9eff;
}

a {
    color: white;
}

.logo {
    width: 250px;
    height: 100px;
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: white;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.login-page {
    background-color: #0b69dd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-button {
    background-color: #006400;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #228B22;
}

.login-form {
    background-color: #0b69dd;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winkelSectie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.productImage{
    width: 250px;
    height: 200px;
    margin-bottom: 20px;
}

.product{
    background-color: #0b69dd;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aankoopKnop{
    background-color: #006400;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.aankoopKnop:hover {
    background-color: #228B22;
}